name: Linters

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0,5 * * *'
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Eco-CI Init
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: start-measurement
          co2-calculation-method: 'constant'
          co2-grid-intensity-constant: 231

      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: python -m pip install flake8
      - name: flake8
        # Pinned to v3.0.0.
        uses: liskin/gh-problem-matcher-wrap@e7b7beaaafa52524748b31a381160759d68d61fb
        with:
          linters: flake8
          run: flake8

      - name: Eco-CI Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: get-measurement
          label: 'linters-flake8'

      - name: Eco-CI Results
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: display-results


  isort:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Eco-CI Init
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: start-measurement
          co2-calculation-method: 'constant'
          co2-grid-intensity-constant: 231

      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: python -m pip install isort
      - name: isort
        # Pinned to v3.0.0.
        uses: liskin/gh-problem-matcher-wrap@e7b7beaaafa52524748b31a381160759d68d61fb
        with:
          linters: isort
          run: isort --check --diff django tests scripts

      - name: Eco-CI Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: get-measurement
          label: 'linters-isort'

      - name: Eco-CI Results
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: display-results


  black:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Eco-CI Init
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: start-measurement
          co2-calculation-method: 'constant'
          co2-grid-intensity-constant: 231

      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: black
        uses: psf/black@stable

      - name: Eco-CI Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: get-measurement
          label: 'linters-black'

      - name: Eco-CI Results
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: display-results

  zizmor:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Eco-CI Init
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: start-measurement
          co2-calculation-method: 'constant'
          co2-grid-intensity-constant: 231

      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4 # v0.2.0
        with:
          advanced-security: false
          annotations: true

      - name: Eco-CI Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: get-measurement
          label: 'linters-black'

      - name: Eco-CI Results
        uses: green-coding-solutions/eco-ci-energy-estimation@print-cpu-info
        with:
          task: display-results
